.regist {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #E1F0FB;
    min-height: 100vh;
}

.regist-header .ttl {
    background-image: url('../../img/ttl-regist.png');
}

.regist-header nav .item {
    font-size: 23px;
    font-weight: bold;
    color: #959595;
}

.regist-header nav .item.active {
    color: #2c92d2;
}

.regist-cont {
    max-width: 752px;
    padding: 50px 0 50px;
    margin: 0 auto;
    font-size: 16px;
}

.regist-cont h2 {
    font-weight: bold;
    text-align: center;
    font-size: 23px;
}

.regist-cont .row {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.regist-cont .row .left {
    width: 242px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.regist-cont .row .right {
    width: 500px;
    margin-left: 10px;
}

.regist-cont .row .right input {
    height: 45px;
    padding-left: 20px;
    padding-right: 20px;
}

.regist-cont .row .right select {
    width: 299px;
    height: 45px;
    padding-left: 20px;
}

.regist input[type=text],
.regist select,
.regist textarea {
    box-shadow: inset 1px 1px 5px #ddd;
}

.regist .select {
    display: flex;
    align-items: center;
    position: relative;
    width: min-content;
}

.regist .select::before {
    position: absolute;
    content: '';
    right: 1px;
    width: 20px;
    height: 20px;
    background-color: white;
}

.regist .select::after {
    position: absolute;
    content: '';
    right: 10px;
    width: 15px;
    height: 10px;
    background-image: url('../../img/arrow-dropdown.png');
}

.regist .pw-case {
    color: #888;
    padding-left: 25px;
    align-items: center;
    position: relative;
    margin: 10px;
}

.regist .pw-case::before {
    content: '';
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    background-image: url('../../img/icon-case-none.png');
}

.regist .pw-case-active {
    font-weight: bold;
    color: #333;
}

.regist .pw-case-active::before {
    background-image: url('../../img/icon-case.png');
}

.login {
    background-image: url('../../img/bg-login.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.login .ttl {
    background-image: url('../../img/ttl-login.png');
}

@media (max-width: 1024px) {
    .regist-header nav .item {
        font-size: 12px;
    }

    .regist-cont {
        padding-left: 20px;
        padding-right: 20px;
    }

    .regist-cont h2 {
        font-size: 20px;
    }

    .regist-cont .row {
        display: block;
        height: auto;
    }

    .regist-cont .row .left {
        justify-content: center;
        width: 100%;
    }

    .regist-cont .row .right {
        width: 100%;
        margin-left: 0;
    }

    .regist-cont .row .right input {
        width: 100%;
    }

    .regist-cont .row .right select {
        width: 100%;
    }

    .regist-cont .mycheckbox {
        font-size: 13px;
    }

    .regist .select {
        width: 100%;
    }
}