.dashboard {
    display: flex;
    position: relative;
    min-height: 100vh;
}

.dashboard-sidebar {
    background-color: #E1F0FB;
    position: absolute;
    width: 342px;
    min-height: 100%;
    padding-top: 62px;
    margin-left: 60px;
    padding-bottom: 62px;
}

.dashboard-sidebar .ttl {
    background-image: url('../../img/ttl-dashbord-sidebar.png');
}

.dashboard-sidebar .item {
    width: 193px;
    height: 63px;
    border-radius: 50px;
    background-color: #172B4D;
    color: white;
    font-weight: bold;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
    position: relative;
}

.dashboard-sidebar .item:hover {
    cursor: pointer;
    background: #172B4Dbb;
}

.dashboard-sidebar .item:last-child:hover {
    cursor: pointer;
    background: #ddd;
}

.dashboard-sidebar .item.active {
    background-color: #2C92D2;
    margin-left: auto;
}

.dashboard-sidebar .item.active::before {
    content: '';
    width: 8px;
    background-image: url('../../img/arrow-right-02.png');
    height: 14px;
    position: absolute;
    left: -20px;
    display: flex;
    align-items: center;
}

.dashboard-sidebar .item:last-child {
    margin-top: 70px;
    background-color: white;
    color: #555;
}

.dashboard .board {
    padding:75px 75px 75px 490px;
    width: 100%;
}

.dashboard .board h2 {
    font-size: 32px;
    font-weight: bold;
}

.dashboard .board h3 {
    font-size: 28px;
    font-weight: bold;
}

.btn-ham {
    width: 40px;
    height: 40px;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid #2C92D2;
    text-align: center;
    position: fixed;
    z-index: 9999;
    font-size: 30px;
    top: 10px;
    left: 10px;
    border-radius: 100%;
    color: #2C92D2;
}

.btn-ham:hover {
    cursor: pointer;
    color: white;
    background-color: #2C92D2;
    border: 1px solid white;
}

.dbi .row {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.dbi .row-big {
    align-items: flex-start;
}

.dbi .row .left {
    width: 242px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.dbi .row .right {
    width: 500px;
    margin-left: 10px;
}

.dbi .row .right input {
    height: 45px;
    padding-left: 20px;
    padding-right: 20px;
}

.dbi .row .right select {
    width: 299px;
    height: 45px;
    padding-left: 20px;
}

.dbi input[type=text],
.dbi select,
.dbi textarea {
    box-shadow: inset 1px 1px 5px #ddd;
}

.dbi .select {
    display: flex;
    align-items: center;
    position: relative;
    width: min-content;
}

.dbi .select::before {
    position: absolute;
    content: '';
    right: 1px;
    width: 20px;
    height: 20px;
    background-color: white;
}

.dbi .select::after {
    position: absolute;
    content: '';
    right: 10px;
    width: 15px;
    height: 10px;
    background-image: url('../../img/arrow-dropdown.png');
}

@media (max-width: 1024px) {    
    .dashboard {
        display: block;
    }
    .dashboard .board {
        padding: 20px;
    }
    .dashboard-sidebar {
        z-index: 999;
        width: 100%;
        margin-left: 0;
        left: -100%;
    }
    .btn-ham {
        display: flex;
    }
    .dbi .row {
        display: block;
        height: auto;
    }

    .dbi .row .left {
        justify-content: center;
        width: 100%;
    }

    .dbi .row .right {
        width: 100%;
        margin-left: 0;
    }

    .dbi .row .right input {
        width: 100%;
    }

    .dbi .row .right select {
        width: 100%;
    }

    .dbi .mycheckbox {
        font-size: 13px;
    }

    .dbi .select {
        width: 100%;
    }
}

.show-menu {
    left: 0 !important;
}