@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  padding: 0;
  font-family: sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  transition: .3s ease all;
}

a {
  text-decoration: none;
}

.pagination div.active {
  color: white;
  border-color: #7764E4;
  background-color: #7764E4;
}

.btn-gradient {
  background: linear-gradient(to right, #6EF6D0, #2c92d2);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 100px;
}

.btn-gradient:before {
  content: '';
  position: absolute;
  right: 5%;
  background-image: url(./img/arrow-right-01.png);
  z-index: 1;
}

.btn-blue {
  width: 300px;
  height: 52px;
  background: #2c92d2;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-weight: bold;
}

.btn-gray {
  background: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 5px;
}

.btn-gradient,
.btn-blue,
.btn-gray,
.btn-purple {
  box-shadow: 0 0 5px #000000;
  transition: none;
}

.btn-gradient:hover,
.btn-blue:hover,
.btn-gray:hover,
.btn-purple:hover,
.btn-blue-light:hover,
.btn-purple-heavy:hover {
  cursor: pointer;
}

.btn-gradient:active,
.btn-blue:active,
.btn-gray:active,
.btn-purple:active,
.btn-blue-light:active,
.btn-purple-heavy:active {
  opacity: 1;
  box-shadow: none;
  transform: scale(.95);
  /* margin-top: 1px;
  margin-left: 1px; */
}

.btn-purple {
  background: white;
  border: 1px solid #7764E4;
  color: #7764E4;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  text-align: center;
  line-height: 1.2;
}

.btn-purple:hover {
  background-color: #7764E4;
  color: white;
  cursor: pointer;
}

.mycheckbox {
  height: 30px;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 40px;
  cursor: pointer;
  font-size: 15px;
  user-select: none;
}

.mycheckbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.mycheckbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: white;
  border: 3px solid #7764E4;
  border-radius: 5px;
}

.mycheckbox input:checked~.checkmark {
  background-color: white;
}

.mycheckbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.mycheckbox input:checked~.checkmark:after {
  display: block;
}

.mycheckbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 8px;
  height: 12px;
  border: solid #7764E4;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

input[type=radio] {
  accent-color: black;
}

.business {
  font-size: 15px;
}

.arrow-down {
  position: absolute;
  background-image: url('./img/arrow-dropdown-02.png');
}

.arrow-up {
  position: absolute;
  transform: rotate(180deg);
  background-image: url('./img/arrow-dropdown-02.png');
}

.arrow-left {
  position: absolute;
  transform: rotate(90deg);
  background-image: url('./img/arrow-dropdown-02.png');
}

.arrow-right {
  position: absolute;
  transform: rotate(270deg);
  background-image: url('./img/arrow-dropdown-02.png');
}

@media (max-width: 550px) {

  .arrow-down,
  .arrow-left,
  .arrow-right,
  .arrow-up {
    display: none;
  }

  .pagination .arrow-left,
  .pagination .arrow-right {
    display: block;
  }

  .bhn .arrow-down {
    display: block;
  }
}

@font-face {
  font-family: 'cns';
  font-style: normal;
  font-weight: normal;
  src: local('cns'), url('./font/cns.otf') format('otf');
}

@font-face {
  font-family: 'meiryo';
  font-style: normal;
  font-weight: normal;
  src: local('meiryo'), url('./font/meiryo.ttc') format('ttc');
}

@font-face {
  font-family: 'kaku';
  font-style: normal;
  font-weight: normal;
  src: local('kaku'), url('./font/kaku.otf') format('otf');
}

@font-face {
  font-family: 'gotham';
  font-style: normal;
  font-weight: normal;
  src: local('gotham'), url('./font/gotham.ttf') format('ttf');
}

.regist {
  font-family: 'meiryo';
}

.btn-gradient,
.btn-blue,
.btn-gray,
.btn-purple {
  font-family: 'cns';
}

input,
select {
  font-family: 'gotham';
}

.business {
  font-family: 'kaku';
}

.business-sidebar .item {
  font-family: 'gotham';
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #0E4961;
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

.p404 span {
  text-shadow: -10px 5px 0 #d0e9ff;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* 
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
}

.inactive {
  margin-right: 10px;
  padding: 10px;
  color: grey;
}

.active {
  color: black;
  padding: 10px;
  border: 1px solid black;
  background-color: rgba(64, 224, 208, 0.657);
}

.logout {
  color: red;
}

.container {
  display: flex;
  flex-direction: column;
  width: max-content;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px 0px 35px -3px rgba(0, 69, 66, 0.16);
}

.field {
  display: flex;
  flex-direction: column;
  width: 160px;
}

.error {
  color: red;
  font-size: 10px;
  width: 160px;
} */